{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>easYouform</title>
    <link rel="stylesheet" href="{% static '/project/plugin/aos/aos.css' %}"/>
    <link rel="stylesheet" href="{% static '/project/css/main.css' %}"/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.7.0/remixicon.css"
    />
    <link
            rel="stylesheet"
            href="{% static '/project/plugin/swiper/swiper-bundle.min.css' %}"
    />
    <script src="{% static '/project/plugin/tailwind/tailwind.js' %}"></script>
    <script src="{% static '/project/plugin/tailwind/tailwind.config.js' %}"></script>
</head>
<body>
<div class="relative overflow-x-hidden bg-white wrapper">
    <nav
            id="navbar"
            class="absolute md:top-[10px] top-0 left-0 z-50 w-full mx-auto transition duration-700"
    >
        <div
                id="navbar-container"
                class="transition duration-700 navbar-rounded container nav--bg duration-400 py-2.5 px-5 flex items-center justify-between"
        >
            <a href="{% url 'home' %}" class="h-[50px] w-[80px] lg:w-[100px] lg:h-[62px] block">
                <img
                        src="{% static '/project/image/logo.png' %}"
                        alt="easYouform"
                        class="object-contain w-full h-full"
                />
            </a>
            <ul
                    class="text-dark bg-transparent tracing-widest text-sm lg:text-lg z-50 flex flex-col items-center gap-5 w-full h-screen fixed top-[100%] -right-[0%] duration-500 bg-light gap-5 lg:gap-x-8 xl:gap-x-14 pt-10 font-montserrat font-normal md:static md:w-auto md:h-auto md:flex-row md:pt-0 nav-content"
            >
                <li class="duration-500 hover:text-violet">
                    <a href="{% url 'home' %}">Главная</a>
                </li>
                <li class="duration-500 hover:text-violet">
                    <a href="{% url 'about' %}">О нас</a>
                </li>
                <li class="duration-500 hover:text-violet">
                    <a href="{% url 'category-product' %}">Наша продукция</a>
                </li>
                <li class="duration-500 hover:text-violet">
                    <a href="{% url 'gallery' %}">Галерея</a>
                </li>
                <li class="duration-500 hover:text-violet">
                    <a href="{% url 'contact' %}">Контакты</a>
                </li>
            </ul>
            <div class="flex gap-x-2">
                <a
                        href="{{ contact.phone_1 }}"
                        class="flex items-center text-sm gap-2.5 text-white bg-violet md:bg-transparent md:text-violet rounded-xl md:text-violet px-2 py-1.5 lg:text-lg"
                >
                    <i class="ri-phone-line text-xl mt-0.5 block md:hidden"></i>
                    <span class="hidden font-normal md:block montserrat"
                    >{{ contact.phone_1 }}</span
                    >
                </a>
                <button
                        class="px-2 py-1.5 text-lg text-white duration-500 bg-violet rounded-xl nav-btn md:hidden"
                >
                    <i class="ri-menu-line"></i>
                </button>
            </div>
        </div>
    </nav>
    <section class="pb-10 md:pb-[50px] pt-[200px] about relative">
        <div class="container relative z-4">
            <div class="flex flex-col items-center gap-y-4">
                <h3
                        class="text-2xl font-normal text-center md:text-3xl lg:text-4xl xl:text-5xl font-czizh"
                        data-aos="fade-up"
                >
                    {{ about.title}}
                </h3>
                <p
                        class="w-full md:w-[70%] text-center text-base md:text-lg text-dark font-montserrat font-light pb-[30px]"
                        data-aos="fade-up"
                        data-aos-delay="50"
                >
            {{ about.text_up|safe|striptags }}
                </p>
            </div>
            <div
                    data-aos="zoom-in"
                    data-aos-delay="60"
                    class="w-full aspect-[16/7] rounded-xl md:rounded-[120px] overflow-hidden mt-[20px] md:mt-[30px] mb-10 md:mb-[70px]"
            >
                <img
                        class="object-cover w-full h-full"
                        src="{{ about.image.url }}"
                />
            </div>
            <p
                    class="text-center text-base md:text-lg text-dark font-montserrat font-light pb-[30px]"
                    data-aos="fade-up"
            >
                {{ about.text_down|safe|striptags }}
            </p>
        </div>
    </section>
    <section class="py-10 md:py-20 xl:py-[70px]">
        <div class="container flex flex-col items-center">
            <h2
                    class="mb-5 text-2xl font-normal text-center text-black md:text-3xl lg:text-4xl xl:text-5xl md:mb-8 font-czizh"
                    data-aos="fade-up"
            >
                Наши особенности:
            </h2>
            <div class="grid grid-cols-1 gap-3 md:gap-5 md:grid-cols-2">
                {% for feature in about.features.all %}
                <div
                        data-aos="zoom-in" data-aos-delay="50"
                        class="p-5 space-y-1 border rounded-xl border-violet font-montserrat h-fit"
                >
                    <h4
                            class="text-xl font-medium md:text-2xl md:text-3xl text-violet"
                    >
                        1
                    </h4>
                    <h5 class="text-lg md:text-xl text-violet">{{ feature.title }}:</h5>
                    <p class="text-sm text-justify md:text-lg md:text-justify">
                        {{ feature.text|safe|striptags }}
                    </p>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </section>

    <section class="rewards py-[40px] md:py-[50px]">
        <div class="container text-light">
            <h3
                    class="text-2xl md:text-3xl lg:text-4xl xl:text-5xl pb-[50px] text-center font-czizh font-normal"
                    data-aos="zoom-in"
            >
                Наши достижения говорят о нас
            </h3>
            <div
                    class="grid items-start justify-between grid-cols-2 font-medium md:items-center max-lg:gap-10 lg:flex font-montserrat"
            >
                <div class="text-center" data-aos="zoom-in" data-aos-delay="100">
                    <h4
                            class="pb-3 text-3xl font-bold leading-normal md:text-3xl xl:text-5xl"
                    >
                <span
                        data-purecounter-start="0"
                        data-purecounter-end="14"
                        data-purecounter-duration="1"
                        class="purecounter"
                ></span>
                    </h4>
                    <p class="text-sm md:text-lg">лет на рынке</p>
                </div>
                <div class="text-center" data-aos="zoom-in" data-aos-delay="150">
                    <h4
                            class="pb-3 text-3xl font-bold leading-normal md:text-3xl xl:text-5xl"
                    >
                <span
                        data-purecounter-start="0"
                        data-purecounter-end="2500"
                        data-purecounter-duration="1"
                        class="purecounter"
                ></span
                >м<sup>2</sup>
                    </h4>
                    <p class="text-sm md:text-lg">Производственные площади</p>
                </div>
                <div class="text-center" data-aos="zoom-in" data-aos-delay="200">
                    <h4
                            class="pb-3 text-3xl font-bold leading-normal md:text-3xl xl:text-5xl"
                    >
                <span
                        data-purecounter-start="0"
                        data-purecounter-end="225"
                        data-purecounter-duration="1"
                        class="purecounter"
                ></span>
                    </h4>
                    <p class="text-sm md:text-lg">рабочих мест</p>
                </div>
                <div class="text-center" data-aos="zoom-in" data-aos-delay="250">
                    <h4
                            class="pb-3 text-3xl font-bold leading-normal md:text-3xl xl:text-5xl"
                    >
                <span
                        data-purecounter-start="0"
                        data-purecounter-end="1202323"
                        data-purecounter-duration="1"
                        class="purecounter"
                ></span>
                        к
                    </h4>
                    <p class="text-sm md:text-lg">Ежемесячный выпуск продукции</p>
                </div>
            </div>
        </div>
    </section>
    <section class="py-10 md:py-20 xl:py-[70px]">
        <div class="container flex flex-col items-center">
            <h2
                    class="mb-5 text-2xl font-normal text-center text-black md:text-3xl lg:text-4xl xl:text-5xl md:mb-8 font-czizh"
                    data-aos="zoom-up"
            >
                Наши крупнейшие клиенты
            </h2>
            <div class="w-full">
                <div class="swiper aboutSwiper">
                    <div
                            class="swiper-wrapper"
                            data-aos="zoom-in"
                            data-aos-delay="100"
                    >
                        <a href="#" class="swiper-slide"
                        ><img
                                src="{% static '/project/image/clients (4).png' %}"
                                alt=""
                                class="w-full h-[70px] object-contain"
                        /></a>
                        <a href="#" class="swiper-slide"
                        ><img
                                src="{% static '/project/image/clients (3).png' %}"
                                alt=""
                                class="w-full h-[70px] object-contain"
                        /></a>
                        <a href="#" class="swiper-slide"
                        ><img
                                src="{% static '/project/image/clients (2).png' %}"
                                alt=""
                                class="w-full h-[70px] object-contain"
                        /></a>
                        <a href="#" class="swiper-slide"
                        ><img
                                src="{% static '/project/image/clients (1).png' %}"
                                alt=""
                                class="w-full h-[70px] object-contain"
                        /></a>
                        <a href="#" class="swiper-slide"
                        ><img
                                src="{% static '/project/image/clients (4).png' %}"
                                alt=""
                                class="w-full h-[70px] object-contain"
                        /></a>
                        <a href="#" class="swiper-slide"
                        ><img
                                src="{% static '/project/image/clients (3).png' %}"
                                alt=""
                                class="w-full h-[70px] object-contain"
                        /></a>
                        <a href="#" class="swiper-slide"
                        ><img
                                src="{% static '/project/image/clients (2).png' %}"
                                alt=""
                                class="w-full h-[70px] object-contain"
                        /></a>
                        <a href="#" class="swiper-slide"
                        ><img
                                src="{% static '/project/image/clients (1).png' %}"
                                alt=""
                                class="w-full h-[70px] object-contain"
                        /></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="py-8 bg-light">
        <div
                class="container grid grid-cols-1 gap-5 xs:grid-cols-2 lg:grid-cols-3 text-dark font-montserrat-alternates xs:gap-10"
        >
            <div class="max-xs:text-center">
                <p
                        class="text-[13px] pb-[10px] font-montserrat font-medium"
                        style="line-height: 24px !important"
                >
                    <span class="">Наш адрес:</span>
                    Юнусабадский район Проезд Олой бозори, Tashkent, Uzbekistan
                </p>
                <div class="flex gap-6 w-fit max-xs:mx-auto">
                    <a
                            href="https://www.instagram.com/abduganiev_technology/"
                            class="flex items-center justify-center w-10 h-10 text-2xl text-dark"
                    >
                        <i class="ri-instagram-line"></i>
                    </a>
                    <a
                            href="https://www.telegram.com"
                            class="flex items-center justify-center w-10 h-10 text-dark"
                    >
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="40"
                                height="40"
                                viewBox="0 0 40 40"
                                fill="none"
                        >
                            <path
                                    d="M28 12.6022L24.9946 28.2923C24.9946 28.2923 24.5741 29.3801 23.4189 28.8584L16.4846 23.3526L16.4524 23.3364C17.3891 22.4654 24.6524 15.7027 24.9698 15.3961C25.4613 14.9214 25.1562 14.6387 24.5856 14.9974L13.8568 22.053L9.71764 20.6108C9.71764 20.6108 9.06626 20.3708 9.00359 19.8491C8.9401 19.3265 9.73908 19.0439 9.73908 19.0439L26.6131 12.1889C26.6131 12.1889 28 11.5579 28 12.6022Z"
                                    fill="#363435"
                            />
                        </svg>
                    </a>
                    <a
                            href="hhtps://www.whatsapp.com"
                            class="flex items-center justify-center w-10 h-10 text-2xl text-dark"
                    >
                        <i class="ri-whatsapp-fill"></i>
                    </a>
                </div>
            </div>
            <div class="text-center">
                <a
                        href="tel:+998 90 977 18 82"
                        class="block text-sm lg:text-lg pb-[20px] font-montserrat font-medium"
                        style="line-height: 34px !important"
                >+998 90 990 90 90</a
                >
                <a
                        href="mailto:info@aesyouform.uz"
                        class="block font-normal font-montserrat"
                        style="line-height: 24px !important"
                >info@aesyouform.uz</a
                >
            </div>
            <div
                    class="flex flex-col items-center justify-end md:items-end xs:max-lg:col-span-2"
            >
                <div
                        class="flex items-center gap-[9px] pb-4 w-fit mx-auto md:mx-0 font-montserrat font-normal"
                >
                    <p class="text-dark opacity-70 text-[13px]">Сайт создан</p>
                    <a href="https://abduganiev.uz" target="_blank" class="w-10 h-10">
                        <img
                                class="object-contain w-full h-full"
                                src="{% static '/project/image/abduganiev.png' %}"
                                alt="abduganiev technology"
                        />
                    </a>
                </div>
                <p
                        class="text-[#767676] text-[13px]"
                        style="line-height: 24px !important"
                >
                    ©2023 easYOUform. All rights reserved.
                </p>
            </div>
        </div>
    </footer>
</div>
<script src="{% static '/project/plugin/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static '/project/plugin/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static '/project/js/script.js' %}"></script>
<script src="{% static '/project/plugin/aos/aos.js' %}"></script>
<script>
    AOS.init();
</script>
</body>
</html>
