{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
     {#    google#}

    <meta name="description" content="easYOUform Perfection in the details">
    <meta name="keywords"
          content="easYOUform, Perfection in the details, Textile, textiles, fabrics, clothing, designs, patterns, textile store">
    <meta property="og:image" content="https://easyouform.uz/static/project/image/logo.png">


    {#    for social media#}

    <meta property="og:title" content="Perfection in the details">
    <meta property="og:description"
          content="Our company was founded in 2008 in the city of Tashkent by several enthusiasts who love their work. At the beginning it was a small workshop for the production of knitted products, which grew into a large garment factory. Today, Construction Solutions LLC is an enterprise with its own production facilities and warehouses, occupying a total area of more than 2,500 square meters. The factory itself is located in the city of Nurafshan, the administrative center of the Tashkent region, 18 kilometers from the city of Tashkent. ​">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://easyouform.uz/">
    <meta property="og:image" content="https://easyouform.uz/static/project/image/logo.png">

    {#    twitter cards#}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@easYOUform">
    <meta name="twitter:title" content="easYOUform">
    <meta name="twitter:description"
          content="Our company was founded in 2008 in the city of Tashkent by several enthusiasts who love their work. At the beginning it was a small workshop for the production of knitted products, which grew into a large garment factory. Today, Construction Solutions LLC is an enterprise with its own production facilities and warehouses, occupying a total area of more than 2,500 square meters. The factory itself is located in the city of Nurafshan, the administrative center of the Tashkent region, 18 kilometers from the city of Tashkent. ​">
    <meta name="twitter:image" content="https://easyouform.uz/static/project/image/logo.png">
    {#    telegram#}

    <meta property="og:title" content="Perfection in the details">
    <meta property="og:description"
          content="Our company was founded in 2008 in the city of Tashkent by several enthusiasts who love their work. At the beginning it was a small workshop for the production of knitted products, which grew into a large garment factory. Today, Construction Solutions LLC is an enterprise with its own production facilities and warehouses, occupying a total area of more than 2,500 square meters. The factory itself is located in the city of Nurafshan, the administrative center of the Tashkent region, 18 kilometers from the city of Tashkent. ​">
    <meta property="og:image" content="https://easyouform.uz/static/project/image/logo.png">


    
    <title>easYouform</title>
    <link rel="icon" type="image/x-icon" href="{% static 'project/image/eas_icon.png' %}">
    <link rel="stylesheet" href="{% static '/project/plugin/aos/aos.css' %}"/>
    <link rel="stylesheet" href="{% static '/project/css/main.css' %}"/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.7.0/remixicon.css"
    />
    <link
            rel="stylesheet"
            href="{% static '/project/plugin/swiper/swiper-bundle.min.css' %}"
    />
    <script src="{% static '/project/plugin/tailwind/tailwind.js' %}"></script>
    <script src="{% static '/project/plugin/tailwind/tailwind.config.js' %}"></script>
</head>
<body>
<div class="relative overflow-x-hidden bg-white wrapper">
    <nav
            id="navbar"
            class=" fixed nav--bg--sidebar md:top-[10px] top-0 max-md:bg-light left-0 z-50 w-full mx-auto transition duration-700 "
    >
        <div
                id="navbar-container"
                class="transition duration-700  md:rounded-[60px] container nav--bg-sidebar duration-400 py-2.5 px-5 flex items-center justify-between"
        >
            <a href="{% url 'home' %}" class="h-[50px] w-[80px] lg:w-[100px] lg:h-[62px] block">
                <img
                        src="{% static '/project/image/logo.png' %}"
                        alt="easYouform"
                        class="object-contain w-full h-full"
                />
            </a>
            <ul
                    class="text-dark md:bg-transparent tracing-widest text-sm lg:text-lg z-50 flex flex-col items-center  w-full h-screen fixed  top-[70px] opacity-0 md:opacity-100 -right-[100%] duration-500 bg-light gap-3 lg:gap-x-8 xl:gap-x-14 pt-10 font-montserrat font-normal md:static md:w-auto md:h-auto md:flex-row md:pt-0 nav-content"
            >
                <li class="duration-500 hover:text-violet">
                    <a href="{% url 'home' %}">{% trans 'Главная' %}</a>
                </li>
                <li class="duration-500 hover:text-violet">
                    <a href="{% url 'about' %}">{% trans 'О нас' %}</a>
                </li>
                <li class="duration-500 hover:text-violet">
                    <a href="{% url 'category-product' %}">{% trans 'Наша продукция' %}</a>
                </li>
                <li class="duration-500 hover:text-violet">
                    <a href="{% url 'gallery' %}">{% trans 'Галерея' %}</a>
                </li>
                <li class="duration-500 hover:text-violet">
                    <a href="{% url 'contact' %}">{% trans 'Контакты' %}</a>
                </li>
                <li class=" w-full  text-sm lg:text-lg text-grey md:hidden flex justify-center  gap-2 lg:gap-4 items-center">
                    <a href="{% url 'set-language' 'ru' %}">Рус</a>
                    <span class="text-red">|</span>
                    <a href="{% url 'set-language' 'en' %}">Eng</a>
                </li>
            </ul>
            <div class="flex gap-x-2">
                <a
                        href="tel:{{ contact.phone_1 }}"
                        class="flex items-center text-sm gap-2.5 text-white bg-violet md:bg-transparent md:text-violet rounded-xl md:text-violet px-2 py-1.5 lg:text-lg"
                >
                    <i class="ri-phone-line text-xl mt-0.5 block md:hidden"></i>
                    <span class="hidden font-normal md:block montserrat"
                    >{{ contact.phone_1 }}</span
                    >
                </a>
                <button
                        class="px-2 py-1.5 text-lg text-white duration-500 bg-violet rounded-xl nav-btn md:hidden"
                >
                    <i class="ri-menu-line"></i>
                </button>
            </div>
            <div class="font-montserrat  font-normal text-sm lg:text-lg text-grey hidden md:flex gap-2 lg:gap-4 items-center">
                <a href="{% url 'set-language' 'ru' %}">Рус</a>
                <span class="text-red">|</span>
                <a href="{% url 'set-language' 'en' %}">Eng</a>
            </div>
        </div>

    </nav>


    <main class="min-h-screen">
        <section class="pt-32 pb-20 md:pb-[110px] md:pt-[200px] relative">
        <div
                class="container flex flex-col items-center space-y-[20px] md:space-y-[30px]"
        >
            <div class="text-center">
                <h3
                        data-aos="fade-right"
                        class="mb-2 text-2xl font-normal lg:mb-4 md:text-3xl lg:text-4xl xl:text-5xl font-czizh"
                >
                    {{ product_page.title }}
                </h3>
                <p
                        data-aos="fade-right"
                        data-aos-delay="100"
                        class="text-sm font-light font-montserrat-alternates-light sm:text-base lg:text-lg font-montserrat"
                >
                    {{ product_page.text|striptags|safe }}
                </p>
            </div>
            <div class="grid grid-cols-2 md:grid-cols-4 gap-5 w-full mb-6 md:mb-10 xl:mb-[50px]">
                {% for product in products %}
                    <a
                            href="{% url 'product_detail' product.slug %}"
                            data-aos="zoom-in"
                            data-aos-delay="10"
                            class="group block col-span-1 rounded-[20px] relative overflow-hidden text-light w-full h-[250px] md:h-[350px] lg:h-[380px]"
                    >
                        <img
                                src="{{ product.images.first.image.url }}"
                                alt=""
                                class="object-cover w-full h-full duration-500 group-hover:scale-125"
                        />
                        <div
                                class="absolute top-0 left-0 flex flex-col justify-end w-full h-full p-2 duration-500 opacity-100 rounded-b-3xl lg:p-3"
                        >
                            <div class="p-2 overflow-hidden md:p-3 rounded-xl product-card">
                                <h4
                                        class="font-montserrat font-medium mb-2.5 text-sm md:text-xl"
                                >
                                    {{ product.name }}
                                </h4>
                                <button
                                        class="absolute items-center gap-2 transition duration-500 opacity-0 -bottom-10 group-hover:flex group-hover:relative group-hover:opacity-100 group-hover:bottom-0"
                                >
                                    <span class="text-xs font-normal md:text-sm font-montserrat">{% trans 'Подробнее' %}</span>
                                    <img src="{% static '/project/image/arrow-left.svg' %}" alt=""
                                         class="hidden h-5 md:block w-7"/>
                                </button>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
    </main>

    <footer class="py-8 bg-light">
        <div
                class="container grid grid-cols-1 gap-5 xs:grid-cols-2 lg:grid-cols-3 text-dark font-montserrat-alternates xs:gap-10"
        >
            <div class="max-xs:text-center">
                <p
                        class="text-[13px] pb-[10px] font-montserrat font-medium"
                        style="line-height: 24px !important"
                >
                    <span class="">{% trans 'Наш адрес:' %}</span>
                    {{ contact.address }}
                </p>
                <div class="flex gap-6 w-fit max-xs:mx-auto">
                    <a
                            href="{{ social.instagram }}"
                            class="flex items-center justify-center w-10 h-10 text-2xl text-dark"
                    >
                        <i class="ri-instagram-line"></i>
                    </a>
                    <a
                            href="{{ social.telegram }}"
                            class="flex items-center justify-center w-10 h-10 text-dark"
                    >
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="40"
                                height="40"
                                viewBox="0 0 40 40"
                                fill="none"
                        >
                            <path
                                    d="M28 12.6022L24.9946 28.2923C24.9946 28.2923 24.5741 29.3801 23.4189 28.8584L16.4846 23.3526L16.4524 23.3364C17.3891 22.4654 24.6524 15.7027 24.9698 15.3961C25.4613 14.9214 25.1562 14.6387 24.5856 14.9974L13.8568 22.053L9.71764 20.6108C9.71764 20.6108 9.06626 20.3708 9.00359 19.8491C8.9401 19.3265 9.73908 19.0439 9.73908 19.0439L26.6131 12.1889C26.6131 12.1889 28 11.5579 28 12.6022Z"
                                    fill="#363435"
                            />
                        </svg>
                    </a>
                    <a
                            href="{{ social.whatsup }}"
                            class="flex items-center justify-center w-10 h-10 text-2xl text-dark"
                    >
                        <i class="ri-whatsapp-fill"></i>
                    </a>
                </div>
            </div>
            <div class="text-center">
                <a
                        href="tel:{{ contact.phone_2 }}"
                        class="block text-sm lg:text-lg pb-[20px] font-montserrat font-medium"
                        style="line-height: 34px !important"
                >{{ contact.phone_2 }}</a
                >
                <a
                        href="mailto:{{ contact.email }}"
                        class="block font-normal font-montserrat"
                        style="line-height: 24px !important"
                >{{ contact.email }}</a
                >
            </div>
            <div
                    class="flex flex-col items-center justify-end md:items-end xs:max-lg:col-span-2"
            >
                <div
                        class="flex items-center gap-[9px] pb-4 w-fit mx-auto md:mx-0 font-montserrat font-normal"
                >
                    <p class="text-dark opacity-70 text-[13px]">{% trans 'Сайт создан' %}</p>
                    <a href="https://abduganiev.uz" target="_blank" class="w-10 h-10">
                        <img
                                class="object-contain w-full h-full"
                                src="{% static '/project/image/abduganiev.png' %}"
                                alt="abduganiev technology"
                        />
                    </a>
                </div>
                <p
                        class="text-[#767676] text-[13px]"
                        style="line-height: 24px !important"
                >
                    {% trans '©2023 easYOUform. All rights reserved.' %}
                </p>
            </div>
        </div>
    </footer>

</div>
<script src="{% static '/project/plugin/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static '/project/plugin/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static '/project/js/script.js' %}"></script>
<script src="{% static '/project/plugin/aos/aos.js' %}"></script>
<script>
    AOS.init();
</script>
</body>
</html>
